<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Testing</title>
    <link href="main.css" rel="stylesheet">
    <script src="main.bundle.js"></script>
  </head>

  <body>
    <main>
      <button class="fancy" type="button">
        <span class="fancy-content">Click me!</span>
        <span class="fancy-effect"></span>
      </button>
    </main>
  </body>
</html>
