<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Testing</title>
    <link href="main.css" rel="stylesheet">
    <script src="main.bundle.js"></script>
  </head>

  <body>
    <ui-band background-color="#ecebea">
      <ui-separator></ui-separator>

      <p>I am a paragraph inside a layout band.</p>

      <ui-separator></ui-separator>
    </ui-band>

    <ui-band background-color="rebeccapurple">
      <ui-row>
        <input type="text"> <button type="button">Submit</button>
      </ui-row>
    </ui-band>

    <ui-separator></ui-separator>

    <ui-card>
      <p>This is in a card!</p>
      <p>This is a paragraph within a card!</p>
    </ui-card>

    <ui-card background-color="grey" font-color="white">
      <p>This is another card</p>
    </ui-card>

    <ui-separator></ui-separator>

    <ui-band background-color="teal">
      <button id="openDialogButton" type="button">Open Dialog</button>

      <dialog id="dialog">
        <div id="dialogHeader" padding-size="sm">
          <button class="closeDialogButton closeDialogHeaderButton" title="Close" type="button">❌</button>
        </div>

        <form method="dialog" padding-size="md">
          <label>
            Text:
            <input autofocus name="text" type="text">
          </label>

          <button primary type="submit" value="submitted">Submit</button>
        </form>

        <div id="dialogFooter" padding-size="sm">
          <button class="closeDialogButton" type="button">Close</button>
        </div>
      </dialog>
    </ui-band>

    <ui-grid>
      <ui-card>
        <ui-card background-color="green">1</ui-card>
      </ui-card>
      <ui-card columns="2">2 (two columns wide)</ui-card>
      <ui-card columns="4">3 (four columns wide)</ui-card>
      <ui-card>4</ui-card>
      <ui-card>5</ui-card>
      <ui-card>6</ui-card>
      <ui-card>7</ui-card>
      <ui-card>8</ui-card>
    </ui-grid>

    <ui-band background-color="gold">
      <h1>Grid in Layout Band</h1>

      <ui-grid columns="6" no-padding>
        <ui-card>Single column</ui-card>
        <ui-card columns="2">Two columns</ui-card>
        <ui-card columns="3">Three columns</ui-card>
      </ui-grid>

      <ui-separator></ui-separator>
    </ui-band>

    <ui-band background-color="#ecebea">
      <h1>Buttons</h1>

      <ui-button>Default</ui-button>
      <ui-button type="minor">Minor</ui-button>
      <ui-button type="primary">Primary</ui-button>
      <ui-button type="success">Success</ui-button>
      <ui-button type="warning">Warning</ui-button>
      <ui-button type="destructive">Destructive</ui-button>

      <ui-separator></ui-separator>
    </ui-band>
  </body>
</html>
